$kulturaButton : url("../../../../assets/kultura/rozpocznij/button_rozpocznij.png");
$kulturaButtonPodswietlenie : url("../../../../assets/kultura/rozpocznij/podswietlenie.png");
$kulturaPoprawnaOdpowiedz: url("../../../../assets/kultura/select/poprawna_odpowiedz.png");

.start__button--culture {
    background-image: $kulturaButton;
}

.start__button--culture:hover {
    background-image: $kulturaButtonPodswietlenie;
}

.question__correct-answer--culture {
    background-image: $kulturaPoprawnaOdpowiedz;
}