$backgroundImage1: url("../../../../assets/kultura/rozpocznij/background.png");
$backgroundImage2: url("../../../../assets/kultura/select/background.png");
$backgroundImage3: url("../../../../assets/kultura/drag_and_drop/background.png");
$backgroundImage4: url("../../../../assets/kultura/strona_wynikowa/background.png");

//strona - intro
body.culture-site1 {
  background-image: $backgroundImage1;
}

//strona - rozpocznij
body.culture-site2 {
  background-image: $backgroundImage1;
}

//strona - select
body.culture-site3 {
  background-image: $backgroundImage2;
}

//strona - drag&drop
body.culture-site4 {
  background-image: $backgroundImage3;
}

//strona - wynik
body.culture-site5 {
  background-image: $backgroundImage4;
}
