$pasekKultura: url("../../../../assets/kultura/rozpocznij/podcien.png");
$koloKulturaPytanie: url("../../../../assets/kultura/select/pytanie.png");

.title__stripe--culture {
  background-image: $pasekKultura;
}

.title__question-number--culture {
  background-image: $koloKulturaPytanie;
}
