//--------- shared abstract ---------

@import "./variables";
@import "./normalize";
@import "./fonts.scss";
@import "./mixins.scss";

//--------- shared layouts ---------

@import "./layouts/categories";
@import "./layouts/title";
@import "./layouts/side_bar";
@import "./layouts/navigation";
@import "./layouts/buttons";
@import "./layouts/result";
@import "./layouts/questions";

//--------- custom themes ---------

@import "./themes/culture/theme.scss";
@import "./themes/technology/theme.scss";
@import "./themes/programming/theme.scss";
@import "./themes/motorization/theme.scss";
@import "./themes/history/theme.scss";

//---------------------------------

html {
  font-size: pxToRem(16);
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-size: cover;

  font-family: "Montserrat", sans-serif;
}

.select-wrapper,
.score-wrapper,
.start-wrapper,
.intro-wrapper,
.drag-and-drop-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}