@function pxToRem($pxsize, $rembase: 16) {
  @return ($pxsize / $rembase) + rem;
}

@mixin createCol() {
    @each $size in $sizes {
      $index: index($sizes, $size);
      .col-#{$index} {
        width: $size;
      }
    }
  }