$motoryzacjaButton : url("../../../../assets/motoryzacja/rozpocznij/button_rozpocznij.png");
$motoryzacjaButtonPodswietlenie : url("../../../../assets/motoryzacja/rozpocznij/podswietlenie.png");
$motoryzacjaPoprawnaOdpowiedz: url("../../../../assets/motoryzacja/select/poprawna_odpowiedz.png");

.start__button--motorization {
    background-image: $motoryzacjaButton;
}

.start__button--motorization:hover {
    background-image: $motoryzacjaButtonPodswietlenie;
}

.question__correct-answer--motorization {
    background-image: $motoryzacjaPoprawnaOdpowiedz;
}