$backgroundImage1: url("../../../../assets/motoryzacja/rozpocznij/background.png");
$backgroundImage2: url("../../../../assets/motoryzacja/select/background.png");
$backgroundImage3: url("../../../../assets/motoryzacja/drag_and_drop/background.png");
$backgroundImage4: url("../../../../assets/motoryzacja/strona_wynikowa/background.png");

//strona - intro
body.motorization-site1 {
  background-image: $backgroundImage1;
}

//strona - rozpocznij
body.motorization-site2 {
  background-image: $backgroundImage1;
}

//strona - select
body.motorization-site3 {
  background-image: $backgroundImage2;
}

//strona - drag&drop
body.motorization-site4 {
  background-image: $backgroundImage3;
}

//strona - wynik
body.motorization-site5 {
  background-image: $backgroundImage4;
}
