$pasekMotoryzacja: url("../../../../assets/motoryzacja/rozpocznij/podcien.png");
$koloMotoryzacjaPytanie: url("../../../../assets/motoryzacja/select/pytanie.png");

.title__stripe--motorization {
    background-image: $pasekMotoryzacja;
}

.title__question-number--motorization {
  background-image: $koloMotoryzacjaPytanie;
}
