$programowanieButton : url("../../../../assets/programowanie/rozpocznij/button_rozpocznij.png");
$programowanieButtonPodswietlenie : url("../../../../assets/programowanie/rozpocznij/podswietlenie.png");
$programowaniePoprawnaOdpowiedz: url("../../../../assets/programowanie/select/poprawna_odpowiedz.png");

.start__button--programming {
    background-image: $programowanieButton;
}

.start__button--programming:hover {
    background-image: $programowanieButtonPodswietlenie;
}

.question__correct-answer--programming {
    background-image: $programowaniePoprawnaOdpowiedz;
}