$kategoriaProgramowaniePrzycisk : url("../../../../assets/programowanie/strona_wynikowa/pole.png");
$kategoriaProgramowaniePrzyciskHover : url("../../../../assets/programowanie/strona_wynikowa/podswietlenie_kategorii.png");

.chosen-category--programming {
    background-image: $kategoriaProgramowaniePrzycisk;
}

.chosen-category--programming:hover{
 background-image: $kategoriaProgramowaniePrzyciskHover;
}