$backgroundImage1: url("../../../../assets/programowanie/intro/background.png");
$backgroundImage2: url("../../../../assets/programowanie/rozpocznij/background.png");
$backgroundImage3: url("../../../../assets/programowanie/select/background.png");
$backgroundImage4: url("../../../../assets/programowanie/drag_and_drop/background.png");
$backgroundImage5: url("../../../../assets/programowanie/strona_wynikowa/background.png");

//strona - intro
body.programming-site1 {
  background-image: $backgroundImage1;
}

//strona - rozpocznij
body.programming-site2 {
  background-image: $backgroundImage2;
}

//strona - select
body.programming-site3 {
  background-image: $backgroundImage3;
}

//strona - drag&drop
body.programming-site4 {
  background-image: $backgroundImage4;
}

//strona - wynik
body.programming-site5 {
  background-image: $backgroundImage5;
}
