$pasekProgramowanie: url("../../../../assets/programowanie/rozpocznij/podcien.png");
$koloProgramowaniePytanie: url("../../../../assets/programowanie/select/pytanie.png");

.title__stripe--programming {
    background-image: $pasekProgramowanie;
}

.title__question-number--programming {
  background-image: $koloProgramowaniePytanie;
}