$technologiaButton : url("../../../../assets/technologia/rozpocznij/button_rozpocznij.png");
$technologiaButtonPodswietlenie : url("../../../../assets/technologia/rozpocznij/podswietlenie.png");
$technologiaPoprawnaOdpowiedz: url("../../../../assets/technologia/select/poprawna_odpowiedz.png");

.start__button--technology {
    background-image: $technologiaButton;
}

.start__button--technology:hover {
    background-image: $technologiaButtonPodswietlenie;
}

.question__correct-answer--technology {
    background-image: $technologiaPoprawnaOdpowiedz
}