$backgroundImage1: url("../../../../assets/technologia/obiekt_wektorowy.png");
$backgroundImage2: url("../../../../assets/technologia/obiekt_wektorowy3.png");

//strona - intro
body.technology-site1 {
  background-image: $backgroundImage1;
}

//strona - rozpocznij
body.technology-site2 {
  background-image: $backgroundImage1;
}

//strona - select
body.technology-site3 {
  background-image: $backgroundImage2;
}

//strona - drag&drop
body.technology-site4 {
  background-image: $backgroundImage2;
}

//strona - wynik
body.technology-site5 {
  background-image: $backgroundImage1;
}
