$pasekTechnologia: url("../../../../assets/technologia/rozpocznij/podcien.png");
$koloTechnologiaPytanie: url("../../../../assets/technologia/select/pytanie.png");

.title__stripe--technology {
    background-image: $pasekTechnologia;
}

.title__question-number--technology {
  background-image: $koloTechnologiaPytanie;
}
