.start-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 380px;
  height: 114px;
  margin: 5px 0 5px 0;
  transition: background-image 1s linear 0s;
  p {
    color: white;
  }
}


.start__button {
  display: block;
  width: fit-content;
  align-self: center;
  text-decoration: none;

}

.select__question {
  p {
    color: white;
  }
}

@media screen and (max-width: $break-mobile) {
  .start__button {
    .start-button-wrapper {
      margin-top: 100px;
      width: 380px;
    }
  }
  .start-button-wrapper {
    width: 330px;
  }


}
