.categories-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  a {
    text-decoration: none;
  }
}

[class^="categories__"] {
  height: 300px;
  width: 300px;
}

.chosen-category {
  box-sizing: border-box;
  margin: 0 5px;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding-left: 15px;
  width: 140px;
  height: 140px;
  background-size: cover;
  transition: all 1s linear 0s;
  img:nth-child(1) {
    width: 50px;
    height: 50px;
    margin: 30px 0 20px 0;
  }
  img:nth-child(2) {
    margin-top: 2px;
    width: 80%;
  }
  p {
    color: white;
    margin-top: 5px;
    font-size: 11px;
  }
}

.category-wrapper {
  display: flex;
  justify-content: center;
  .chosen-category {
    padding: 0;
    align-items: center;
    p {
      margin-top: 10px;
      font-size: medium;
    }
  }
}

@media screen and (max-width: $break-mobile) {
  .categories-wrapper {
    margin-top: 50px;
    .chosen-category {
      margin-bottom: 15px;
    }
  }
}
