@include createCol();

.navigation {
  &-wrapper {
    display: flex;
    width: 100%;
    height: 200px;
  }
  &__logo {
    img {
      margin: 30px 0 0 30px;
    }
    .navigation__buttons--button {
      width: 100%;
      height: 200px;
      img {
        display: none;
        margin-top: 50px;
        float: right;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
    &--button {
      margin-right: 15px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $break-mobile) {
  .navigation {
    &-wrapper {
      height: 100px;
    }
    &__logo {
      img {
        display: none;
      }
      .navigation__buttons--button {
        display: block;
        img {
          display: block;
        }
      }
    }
    &__buttons {
      .navigation__buttons--button:nth-child(1) {
        display: none;
      }
    }
  }
}
