.select-question-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}

.select__question {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-size: cover;
  min-width: 380px;
  p {
    margin-left: 15px;
    width: 75%;
    text-align: left;
  }
}

.select__question--wrong
 {
  background-color: red;
  border: 2px solid red;
  border-radius: 20px;
}

.question-button {
  width: 366px;
  height: 110px;
  margin: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 15px 15px 0 0;
}

.select__question--question {
  width: 65%;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.start-button-wrapper {
  position: relative;
}

[class^="question__correct-answer"] {
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 15px;
  right: 15px;
}

.correct-answer--show {
  display: block;
}

@media screen and (max-width: $break-mobile) {
  .select__question {
    background-size: cover;
    min-width: 330px;
    height: 95px;
  }

  .question-button {
    width: 320px;
    height: 100px;
  }
}
