.score-inner-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  position: relative;
  color: white;

  > .title__text {
    position: absolute;
    left: 0;
    bottom: 41%;
  }

  .result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .category-wrapper {
      margin-top: 50px;
      margin-bottom: 30px;
    }
    a {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: $break-mobile) {
  .score-inner-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    > .title__text{
      display: none;
    }
    p{
      text-align: center;
    }
    .result-wrapper {
      .category-wrapper {
        margin-top: 0;
      }
      .start__button{
        .start-button-wrapper{
          margin: 0;
        }
      }
    }
  }
}
