.side-bar-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  p {
    color: white;
  }
  a {
    text-decoration: none;
  }

  .chosen-category {
    margin: 10px 0 0 40px;
    width: 105px;
    height: 105px;
    padding-left: 10px;
    img:nth-child(1) {
      width: 40px;
      height: 40px;
      margin: 15px 0 0px 0;
    }
    img:nth-child(2) {
      margin-top: 15px;
      width: 80%;
    }
    p{
      margin-top: 2px;
    }
  }
}

@media screen and (max-width: $break-mobile) {
  .score-inner-wrapper{
    .col-3
    {
      width: 100%;
      margin-top: 40px;
    }
  }

  .side-bar-wrapper {
    flex-flow: row nowrap;
    justify-content: space-evenly;

    .chosen-category {
      margin: 0;
    }
  }
}
