.title {
  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    p {
      color: white;
    }
  }
  &__question {
    display: none;
    height: 110px;
    width: 110px;
    &-number {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      p {
        color: white;
        margin: 0;
      }
      p:nth-child(1) {
        display: none;
      }
    }
    &--show {
      display: block;
    }
  }
}

.intro-wrapper {
  > p {
    color: white;
    display: none;
  }
}

@media screen and (max-width: $break-mobile) {
  .score-wrapper {
    .title {
      &-wrapper {
        display: none;
      }
      &__question {
        height: 130px;
        width: 130px;
        &-number {
          p:nth-child(1) {
            display: block;
          }
        }
      }
    }
  }
  .intro-wrapper {
    > p {
      display: block;
    }
  }
  .title-wrapper  {
    .title__question{
      width: 70px;
      height: 67px;
    }
    }
}
