$historiaButton : url("../../../../assets/historia/rozpocznij/button_rozpocznij.png");
$historiaButtonPodswietlenie :url("../../../../assets/historia/rozpocznij/podswietlenie.png");
$historiaPoprawnaOdpowiedz: url("../../../../assets/historia/select/poprawna_odpowiedz.png");

.start__button--history {
    background-image: $historiaButton;
}

.start__button--history:hover {
    background-image: $historiaButtonPodswietlenie;
}

.question__correct-answer--history {
    background-image: $historiaPoprawnaOdpowiedz;
}