$backgroundImage1: url("../../../../assets/historia/rozpocznij/background.png");
$backgroundImage2: url("../../../../assets/historia/select/background.png");
$backgroundImage3: url("../../../../assets/historia/drag_and_drop/background.png");
$backgroundImage4: url("../../../../assets/historia/strona_wynikowa/background.png");

//strona - intro
body.history-site1 {
  background-image: $backgroundImage1;
}

//strona - rozpocznij
body.history-site2 {
  background-image: $backgroundImage1;
}

//strona - select
body.history-site3 {
  background-image: $backgroundImage2;
}

//strona - drag&drop
body.history-site4 {
  background-image: $backgroundImage3;
}

//strona - wynik
body.history-site5 {
  background-image: $backgroundImage4;
}
