$pasekHistoria: url("../../../../assets/historia/rozpocznij/podcien.png");
$koloHistoriaPytanie: url("../../../../assets/historia/select/pytanie.png");

.title__stripe--history {
  background-image: $pasekHistoria;
}

.title__question-number--history {
  background-image: $koloHistoriaPytanie;
}
